@model List<EntityLayer.Concrete.Portfolio>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Listesi Tablosu</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Proje Adı</th>
                <th scope="col" class="sort" data-sort="completion">Sil</th>
                <th scope="col">Güncelle</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.PortfolioID
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a href="/Portfolio/DeletePortfolio/@item.PortfolioID" class="btn btn-danger">Sil</a>
                    </td>
                    <td>
                        <a href="/Portfolio/UpdatePortfolio/@item.PortfolioID" class="btn btn-warning">Güncelle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a href="/Portfolio/AddPortfolio" class="btn btn-primary">Yeni Proje Ekle</a>
</div>


