@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deneyim Güncelleme Sayfası</h4>
            <form class="form" method="post">
                <br />
                <label>Proje ID</label>
                @Html.TextBoxFor(x => x.PortfolioID, new { @class = "form-control", @readonly = "readonly" })
                <br />
                <label>Proje Adı</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <br />
                <label>Proje URL'si</label>
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                <br />

                <button class="btn btn-outline-primary">Güncelle</button>
            </form>
        </div>
    </div>
</div>